@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	background-color:#343c46;
	font-family: 'Arvo', serif;
	font-size: 20px;
	margin:0px
	
}

h1 {
	font-family: 'Baloo 2', cursive;
	font-weight: 50px;
}

h2{
color: #ffffff;
}

h2, h3 {
	
	font-family: 'Arvo', serif;
	font-weight: bold;
	text-align:justify;
}

a {
	text-decoration: none;
}